<div class="container">
    <h2>Lista de Produtos</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Categoria</th>
          <th>Valor</th>
          <th>Data de Vencimento</th>
          <th>Quantidade em Estoque</th>
          <th>Produto Perecível</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos">
          <td>{{ produto.nome }}</td>
          <td>{{ produto.categoria }}</td>
          <td>{{ produto.valor | currency }}</td>
          <td>{{ produto.dataVencimento | date }}</td>
          <td>{{ produto.quantidadeEstoque }}</td>
          <td>{{ produto.produtoPerecivel ? 'Sim' : 'Não' }}</td>
          <td>
            <button class="btn btn-primary" (click)="editProduto(produto.id)">Editar</button>
            <button class="btn btn-danger" (click)="deleteProduto(produto.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  